.form__save {
    height: 50px;
    border: none;
    cursor: pointer;
    width: 150px;
    background-color: lightgray;
    margin-top: 20px;
}

.form__save:hover {
    background-color: grey;
}

.form__save:active {
   color: white;
}

